/*A49966 / 363020*/
/*#a4a564 / #6b6c30*/

/*          közep   vilagos sotet*/
/*          #798a73 #e0dac9 #3f403c*/


body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #A4a564; /* background color */
}

div {
  font-size: 28px;
}

h2 {
  margin-top: 20px;
  font-size: 58px;
  color: #6b6c30; /* Text color */
}

form {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #fff; /* Form background color */
  padding: 20px;
  border-radius: 10px;
}

input[type="file"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
}

input[type="button"] {
  width: 80%;
  padding: 10px;
  background-color: #000; /* background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 38px;
}
